:root {
	font-size: 0.75vw;
}

body {
	background-color: #161a26;
}

.header {
	font-family: 'Anton', sans-serif;
	color: #ff4654;
	text-align: center;
}

.mapName {
	font-size: 15em;
	margin-top: 1%;
	margin-bottom: 0;
	line-height: 80%;
}

.mapsideName {
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 1%;
}

.tacticsContainer {
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.mapSectionNav {
	display: flex;
	justify-content: center;
	border: 0.25em dashed #80232a;
	border-left: 0px;
	border-right: 0px;
	padding: 1.5em 0em 1.5em 0em;
	margin-left: 25%;
	margin-right: 25%;
}

.mapSection {
	text-align: center;
	/*border: 1px solid green;*/
}

.mapSectionSeparator {
	border: 1px dashed #80232a;
	margin-left: 5%;
	margin-right: 5%;
}

.mapSection + .mapSection {
	margin-left: 1%;
}

.mapSectionName {
	font-family: 'Anton', sans-serif;
	color: #ff4654;
	font-size: 2em;
	text-align: center;

	margin-bottom: 0.5em;

}

.mapSectionContent {

}

.mapSectionTactic {
	text-decoration: none;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	color: #ece8e1;
	border: 1px solid #ece8e1;

	padding: 0.25em 1em 0.25em 1em;
}

.mapSectionTactic:hover {
	font-weight: bolder;
	background-color: #ff4654;

}

.mapSectionTactic + .mapSectionTactic {
	margin-top: 0.5em;
}

.tactic {
	display: flex-inline;
	justify-content: center;
	/*text-align: center;*/
}

.tacticName {
	font-family: 'Anton', sans-serif;
	color: #ff4654;
	font-size: 2em;
	margin-bottom: 0px;
}

.tacticNameGoUpButton {
	text-decoration: none;
	color: #80232a;
	font-size: 0.75em;
	vertical-align: super;
}

.tacticDescription {
	font-family: 'Roboto', sans-serif;
	color: #ece8e1;
	margin-top: 0px;
}

.tacticPiece {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding-bottom: 0.5%;
}

.tacticPieceName {
	font-family: 'Anton', sans-serif;
	color: #ff4654;
	font-size: 1.25em;
	margin-bottom: 0px;
}

.tacticPieceContent {
	border: 1px solid #ff4654;	
	padding: 0.5%;
}

.tacticPieceDescription {
	font-family: 'Roboto', sans-serif;
	color: #ece8e1;
	margin-top: 0px;
	margin-left: 0.25em;
}

.tacticSubpiece {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5%;
}

.elementContent {
	border: 1px solid #80232a;
	/*margin-right: 0.5%;*/
}

.elementContent + .elementContent {
	margin-left: 0.1%;
}

.tacticSubpiece + .tacticSubpiece {
	margin-top: 0.5%;
}

hr.tacticSeparator {
	border: 0.5em dashed #ff4654;
	margin-top: 1%;
	width: 90%;
}